

.banner {
    height: 550px;
    
    & .bannerImg {
        background-image: url('../img/bg/banner.jpg');
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: cover;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right, #b49c9c, #1c1c1c);
            opacity: 0.6;
        }
    }
    

    & .bannerInner {
        & .bannerHeading {
            font-size: 36px;
            font-weight: 600;
        }
        & .bannerPara {
            font-size: 14px;
            font-weight: 400;
            
        }
        & .bannerForm {
            & .formHeading {
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
            }

            & .searchControl {
                padding-left: 34px;
            }

            & .searchButton {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                left: 14px;
                width: 14px;
                height: 14px;
                display: flex;
                align-items: center;
                padding: 0;
                
                & .searchIcon {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    aspect-ratio: 10/10;
                }
            }
        }
    }
}

.service {
    & .owl-stage { 
        // padding-top: 40px;
        & .item {
            padding: 10px;
            text-align: center;
            & .serviceItems {
                transition: 0.3s all cubic-bezier(0.25, 0.1, 0.41, 2.4);
                & .serviceItem {
                    width: 100px;
                    height: 100px;
                    background: #680303;
                    border-radius: 100%;
                    border: 7px solid #ff5b5b;
                    padding: 15px;
            
                    & .serviceImg {
                        aspect-ratio: 10/10;
                        object-fit: cover;
                        position: top center;
                    }
                }
            }
            &:hover {
                & .serviceItems{
                    transform: scale(1.05);
                }
            }
            
        }
    }

    & .owl-nav {
        position: absolute;
        top: -86px;
        right: 0;
        transform: translate(0%, 50%);
        display: flex !important;
        column-gap: 5px;

        & .owl-prev{
            width: 31px;
            height: 31px;
            display: flex;
            padding: 5px !important;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            border: 3px solid !important;
            border-color:$theme1 $theme2 $theme1 $theme2 !important;
            &.disabled  {
            border: 3px solid;
                border-color:lighten($theme1, 55) lighten($theme2, 55) lighten($theme1, 55) lighten($theme2, 55) !important;
            }
            
        }
        & .owl-next{
            width: 31px;
            height: 31px;
            display: flex;
            justify-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            border: 3px solid !important;
            padding: 5px !important;
            border-color:$theme1 $theme2 $theme1 $theme2 !important;
            &.disabled  {
                border: 3px solid;
                border-color: lighten($theme1, 55) lighten($theme2, 55) lighten($theme1, 55) lighten($theme2, 55) !important;
            }
            
        }
    }

    & .owl-dots {
        display: none;
    }
    
}

.storySection {
    & .storysectionItem {
        box-sizing: border-box;
        & .storySectionImg {
            &:hover {
                & .storyDate {
                    transform: rotate(0deg);
                    top: 12px;
                    left: 12px;
                }
            }
        }
        & .storyDate {
            position: absolute;
            top: 28px;
            left: 19px;
            background:  $theme2;
            border-radius: 6px;
            padding: 4px 10px;
            font-size: 14px;
            font-weight: 600;
            color:$white;
            transition:0.9s all ;
            transform: rotate(340deg);
        }

        & .storyPara {
            font-size: 14px;
        }
        & .storySocialiConnection {
            width: 15px;
            height: 15px;
            display: block;
            position: relative;
            transition: all 0.5s;
            & img {
                object-fit: cover;
                aspect-ratio: 10/10;
                position: absolute;
            }
            &:hover{
                transform: scale(0.85);
            }
        }
    }
}

.bgTestimonial  {
    // background-color: rgb(red, green, blue);
    background: url('../img/bg/dottedBgImage.svg');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    & .testimonial {
        & .testimonialHeading {
            & .subHeading {
                font-size: 16px;
                font-weight: 700;
                color: $theme1;
    
            }
            & .maiHeading {
                font-weight: 600;
                text-transform: capitalize;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 35px;
            }
            & .testimonialPara {
                font-size: 16px;
                font-weight: 400;
            }
        }
        & .item {
            & .testimonialItem {
                position: relative;
                & .testimonialItemImg {
                    width: 400px;
                    height: 100%;
                    border-radius: 10px;
                
                    // position: relative;
                }
                & .testimonialItemContent {
                    position: absolute;    top: 50%;
                    right: 0;
                    width: 508px;
                    background-color: $white;
                    border-left: 5px solid $theme2;
                    transform: translate(0,-50%);
        
                    & .testimonialClientWords {
                        font-size: 14px;
                        font-weight: 400;
                    }
        
                    & .testimonialClientName {
                        font-size: 14px;
                        font-weight: 600;
        
                    }
                }
            }
        }
    
        & .owl-nav {
            position: absolute;
            top: 10%;
            right: 0px;
            transform: translate(0%, -50%);
            display: flex !important;
            column-gap: 5px;
    
            & .owl-prev{
                width: 31px;
                height: 31px;
                display: flex;
                padding: 7px !important;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                border: 3px solid !important;
                border-color:$theme1 $theme2 $theme1 $theme2 !important;
                &.disabled  {
                display: none;
                }
                
            }
            & .owl-next{
                width: 31px;
                height: 31px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                border: 3px solid !important;
                padding: 7px !important;
                border-color:$theme1 $theme2 $theme1 $theme2 !important;
                &.disabled  {
                    display: none;
                }
                
            }
        }
    
        & .owl-dots {
            display: none;
        }
    }
}


//Responsive
@mixin testimonial-mixin-max-md(){
    .bgTestimonial  {
        & .testimonial {
            & .testimonialHeading {
                & .subHeading {
                }
                & .maiHeading {
                }
                & .testimonialPara {
                }
            }
            & .item {
                height: 300px;
                & .testimonialItem {
                    height: 100%;
                    & .testimonialItemImg {
                        display: none;
                    }
                    & .testimonialItemContent {
                        width: 100%;
                        & .testimonialClientWords {
                        }
            
                        & .testimonialClientName {
                        }
                    }
                }
            }
        
            & .owl-nav {
        
                & .owl-prev{
                    &.disabled  {
                    }
                    
                }
                & .owl-next{
                    &.disabled  {
                    }
                }
            }
            & .owl-dots {
            }
        }
    }
    
};

@mixin service-mixin-max-sm(){
    .service {
        & .owl-stage { 
            & .item {
                & .serviceItems {
                    & .serviceItem {
                
                        & .serviceImg {
                        }
                    }
                }
                &:hover {
                    & .serviceItems{
                    }
                }
                
            }
        }
    
        & .owl-nav {
            display: none !important;
    
            & .owl-prev{
                &.disabled  {
                }
            }
            & .owl-next{
                &.disabled  {
                }
            }
        }
    
        & .owl-dots {
        }
        
    }

    .bgTestimonial  {
        & .testimonial {
            & .testimonialHeading {
                & .subHeading {
                }
                & .maiHeading {
                }
                & .testimonialPara {
                }
            }
            & .item {
                & .testimonialItem {
                    & .testimonialItemImg {
                            width: 370px;
                            height: 300px;
                            border-radius: 10px;
                        }
                    & .testimonialItemContent {
                        // left: 50px;
                        // right: 10px;
                        & .testimonialClientWords {
                        }
            
                        & .testimonialClientName {
                        }
                    }
                }
            }
        
            & .owl-nav {
                right: 0%;
                top: 15%;
                & .owl-prev{
                    &.disabled  {
                    }
                    
                }
                & .owl-next{
                    &.disabled  {
                    }
                }
            }
            & .owl-dots {
            }
        }
    }
};

@mixin service-mixin-max-xs(){
    .bgTestimonial  {
        & .testimonial {
            & .testimonialHeading {
                & .subHeading {

                }
                & .maiHeading {
                    font-size: 24px;
                }
                & .testimonialPara {
                    font-size: 14px;
                }
            }
            & .item {
                height: auto;
                & .testimonialItem {
                    height: 100%;
                    padding: 20px 0px;
                    & .testimonialItemImg {
                            display: none;
                        }
                    & .testimonialItemContent {
                        position: relative;
                        transform: none;
                        left: 0px;
                        padding: 20px !important;
                        width: 100%;
                        & .testimonialClientWords {
                            font-size: 12px;
                        }
            
                        & .testimonialClientName {
                            font-size: 12px;
                        }
                    }
                }
            }
        
            & .owl-nav {
                display: none !important;
                & .owl-prev{
                    &.disabled  {
                    }
                    
                }
                & .owl-next{
                    &.disabled  {
                    }
                }
            }
            & .owl-dots {
            }
        }
    }
};



//! ################################## end Home Page ###################################

//? ################################## Blog ###################################

[page-name=blog] {
    &.blog {
        
        & .BlogSection {

            & .BlogLatestItem {
                background-color: rgb($theme1, 0.4);
                &:hover {
                    background-color: lighten($theme2, 55);
                }
                & .blogLatestItems {
                    width: 120px;
                    height: 120px;
                    display: flex;
                    position: relative;
                    border-radius: 30px;
                    transition: 5s linear;

                    &:hover {
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            background: $black;
                            opacity: 0.5;
                            width: 100%;
                            height: 100%;
                            border-radius: 30px;
                        }
                    }

                    & .blogLatestItemsImg {
                        aspect-ratio: 10/10;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 30px;
                    }
                }

                & .blogLatestItemsText {
                    font-size: 16px;
                    font-weight: 600;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                & .blogLatestProfileList {

                    & .blogLatestProfile {
                        width: 30px;
                        height: 30px;
                        & .blogLatestProfileImg {
                            aspect-ratio: 10/10;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    &::after {
                        content: '|';
                        position: absolute;
                        top: 50%;
                        right: -4px;
                        transform: translate(0, -60%);
                        color: $white;
                    }
                    &:last-child {
                        &::after {
                            content: none;
                        }
                    }
                }

                & .blogLatestProfileName {

                }
            }
        }

        & .mostLatestBlog {
            position: relative;
            
            & .mostLatestBlogContent {
                position: absolute;
                bottom: 20px;
                backdrop-filter: contrast(0.5);

                & .blogSubHeading {
                    font-size: 14px;
                    background-color: $theme1;
                    border-radius: 50px;
                    font-weight: 400;
                }

                & .mostBlogHeadline {
                    font-size: 25px;
                    font-weight: 500;
                    line-height: 1.3;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }


                & .mostBlogdetails {

                    & .mostBlogprofileList {
                        position: relative;
                        & .mostBlogprofile {
                            width: 30px;
                            height: 30px;
                            background-color: #fff;
                            border-radius: 100%;
                        }
    
                        & .mostBlogProfileName {
                            font-size: 14px;
                            font-weight: 400;
                        }

                        &::after {
                            content: '|';
                            position: absolute;
                            top: 50%;
                            right: -4px;
                            transform: translate(0, -70%);
                            color: $white;
                        }
                        &:last-child {
                            &::after {
                                content: none;
                            }
                        }
                    }

                    
                }
            }
        }

        & .storysectionItem {
            box-sizing: border-box;
            & .storySectionImg {
                &:hover {
                    & .storyDate {
                        transform: rotate(0deg);
                        top: 12px;
                        left: 12px;
                    }
                }
            }
            & .storyDate {
                position: absolute;
                top: 28px;
                left: 19px;
                background:  $theme2;
                border-radius: 6px;
                padding: 4px 10px;
                font-size: 14px;
                font-weight: 600;
                color:$white;
                transition:0.9s all ;
                transform: rotate(340deg);
            }
    
            & .storyPara {
                font-size: 14px;
            }
            & .storySocialiConnection {
                width: 15px;
                height: 15px;
                display: block;
                position: relative;
                transition: all 0.5s;
                & img {
                    object-fit: cover;
                    aspect-ratio: 10/10;
                    position: absolute;
                }
                &:hover{
                    transform: scale(0.85);
                }
            }
        }
    }
}

//! ################################## End Blog ###################################


//? ################################# How it Work ###################################

[page-name=howItWork]{
    .bgHowItWork  {
        background: url('../img/bg/dottedBgImage.svg');
        width: 100%;
        height: 100%;
        
        & .HowItWork {
            & .HowItWorkHeading {
                & .subHeading {
                    font-size: 16px;
                    font-weight: 700;
                    color: $theme1;
        
                }
                & .maiHeading {
                    font-weight: 600;
                    text-transform: capitalize;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 35px;
                }
                & .HowItWorkPara {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            & .workingprocess {
                width: 400px;
                height: 400px;

                & .workingprocessImg {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 10/10;
                    object-fit: cover;
                    object-position: top center;
                }
            }
        }
    }

    & .workProcess {

        & .workProcesskImg {
            width: 300px;
            height: 300px;
            margin: auto;
        }

        & .workProcessLevel {
            text-align: center;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 14px;
            color: #680303;
            box-shadow: 0px 0px 28px rgb(104 3 3 / 14%);
            background: white;
            z-index: 2;
            margin: auto;
        }

        & .workProcessHeading {
            font-size: 24px;
            font-weight: 600;
            text-transform: capitalize;
        }

        & .workProcessText {
            font-size: 16px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 47%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2px;
            height: 60%;
            background: $theme1;
        }
    }
}

//! ################################## End How it Work ###################################





