

.banner {
    height: 550px;
    
    & .bannerImg {
        background-image: url('../img/bg/banner.jpg');
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: cover;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right, #b49c9c, #1c1c1c);
            opacity: 0.6;
        }
    }
    

    & .bannerInner {
        & .bannerHeading {
            font-size: 36px;
            font-weight: 600;
        }
        & .bannerPara {
            font-size: 14px;
            font-weight: 400;
            
        }
        & .bannerForm {
            & .formHeading {
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
            }

            & .searchControl {
                padding-left: 34px;
            }

            & .searchButton {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                left: 14px;
                width: 14px;
                height: 14px;
                display: flex;
                align-items: center;
                padding: 0;
                
                & .searchIcon {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    aspect-ratio: 10/10;
                }
            }
        }
    }
}

.service {
    & .owl-stage { 
        // padding-top: 40px;
        & .item {
            padding: 10px;
            & .serviceItems {
                transition: 0.3s all cubic-bezier(0.25, 0.1, 0.41, 2.4);
                & .serviceItem {
                    width: 100px;
                    height: 100px;
                    background: #680303;
                    border-radius: 100%;
                    border: 7px solid #ff5b5b;
                    padding: 15px;
            
                    & .serviceImg {
                        aspect-ratio: 10/10;
                        object-fit: cover;
                        position: top center;
                    }
                }
            }
            &:hover {
                & .serviceItems{
                    transform: scale(1.05);
                }
            }
            
        }
    }

    & .owl-nav {
        position: absolute;
        top: -86px;
        right: 0;
        transform: translate(0%, 50%);
        display: flex !important;
        column-gap: 5px;

        & .owl-prev{
            width: 31px;
            height: 31px;
            display: flex;
            padding: 5px !important;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            border: 3px solid !important;
            border-color:$theme1 $theme2 $theme1 $theme2 !important;
            &.disabled  {
            border: 3px solid;
                border-color:lighten($theme1, 55) lighten($theme2, 55) lighten($theme1, 55) lighten($theme2, 55) !important;
            }
            
        }
        & .owl-next{
            width: 31px;
            height: 31px;
            display: flex;
            justify-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            border: 3px solid !important;
            padding: 5px !important;
            border-color:$theme1 $theme2 $theme1 $theme2 !important;
            &.disabled  {
                border: 3px solid;
                border-color: lighten($theme1, 55) lighten($theme2, 55) lighten($theme1, 55) lighten($theme2, 55) !important;
            }
            
        }
    }

    & .owl-dots {
        display: none;
    }
    
}

.storySection {
    & .storysectionItem {
        box-sizing: border-box;
        & .storySectionImg {
            &:hover {
                & .storyDate {
                    transform: rotate(0deg);
                    top: 12px;
                    left: 12px;
                }
            }
        }
        & .storyDate {
            position: absolute;
            top: 28px;
            left: 19px;
            background:  $theme2;
            border-radius: 6px;
            padding: 4px 10px;
            font-size: 14px;
            font-weight: 600;
            color:$white;
            transition:0.9s all ;
            transform: rotate(340deg);
        }

        & .storyPara {
            font-size: 14px;
        }
        & .storySocialiConnection {
            width: 15px;
            height: 15px;
            display: block;
            position: relative;
            transition: all 0.5s;
            & img {
                object-fit: cover;
                aspect-ratio: 10/10;
                position: absolute;
            }
            &:hover{
                transform: scale(0.85);
            }
        }
    }
}

.bgTestimonial  {
    // background-color: rgb(red, green, blue);
    background: url('../img/bg/dottedBgImage.svg');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    & .testimonial {
        & .testimonialHeading {
            & .subHeading {
                font-size: 16px;
                font-weight: 700;
                color: $theme1;
    
            }
            & .maiHeading {
                font-weight: 600;
                text-transform: capitalize;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 35px;
            }
            & .testimonialPara {
                font-size: 16px;
                font-weight: 400;
            }
        }
        & .testimonialItem {
            position: relative;
            & .testimonialItemImg {
                width: 400px;
                height: 100%;
                border-radius: 10px;
            
                // position: relative;
            }
            & .testimonialItemContent {
                position: absolute;    top: 50%;
                right: 0;
                width: 508px;
                background-color: $white;
                border-left: 5px solid $theme2;
                transform: translate(0,-50%);
    
                & .testimonialClientWords {
                    font-size: 14px;
                    font-weight: 400;
                }
    
                & .testimonialClientName {
                    font-size: 14px;
                    font-weight: 600;
    
                }
            }
        }
    
        & .owl-nav {
            position: absolute;
            bottom: 19px;
            left: -436px;
            transform: translate(0%, 50%);
            display: flex !important;
            column-gap: 5px;
    
            & .owl-prev{
                width: 31px;
                height: 31px;
                display: flex;
                padding: 5px !important;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                border: 3px solid !important;
                border-color:$theme1 $theme2 $theme1 $theme2 !important;
                &.disabled  {
                border: 3px solid;
                    border-color:lighten($theme1, 55) lighten($theme2, 55) lighten($theme1, 55) lighten($theme2, 55) !important;
                }
                
            }
            & .owl-next{
                width: 31px;
                height: 31px;
                display: flex;
                justify-content: center;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                border: 3px solid !important;
                padding: 5px !important;
                border-color:$theme1 $theme2 $theme1 $theme2 !important;
                &.disabled  {
                    border: 3px solid;
                    border-color: lighten($theme1, 55) lighten($theme2, 55) lighten($theme1, 55) lighten($theme2, 55) !important;
                }
                
            }
        }
    
        & .owl-dots {
            display: none;
        }
    }
}

